.process{

    margin-bottom: 50px;
    &-container{
        
    }
    &-list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 80px;
        margin: 20px auto;
        position: relative;
        // box-shadow: rgba($color: #aaa2a2, $alpha: 1.0);
    }
    &-item{
        // border: 1px solid #aaaaaa;
        margin-top: 50px;
        display: grid;
        padding:  10px 10px;
        place-items: center;
        text-align: center;

        &::before{
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 1px;
            background-color: #000000;
        }
    }
    
}