*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  background-color: #f3f3f3;
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  font-family: "Inter", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  background-color: #333;
  color: #fff;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 100rem;
}
.btn--primary {
  background-color: #0076eb;
}
.btn--secondary {
  background-color: transparent;
  color: #0076eb;
}

.header {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 30px;
  position: relative;
  background-color: #f3f3f3;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.header-logo {
  width: 30px;
  height: 30px;
}
.header-logo-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 20px;
}
.header-nav-item {
  padding: 16px 0;
  text-transform: uppercase;
  font-size: 12px;
  position: relative;
}
.header-nav-item:hover + .header-subnav {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0%);
  transform: translateY(0);
}
.header-nav-item:hover::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -25%;
  left: 0;
  width: 100%;
  height: 20px;
  z-index: 10;
}
.header-subnav {
  transition: all 0.35s ease-in-out;
  opacity: 0;
  visibility: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding-bottom: 40px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-16px);
  background-color: #f3f3f3;
  border-radius: 0 0 32px 32px;
}
.header-subnav:hover {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.header-subnav-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.header-subnav-title {
  font-size: 20px;
  font-weight: 600;
  padding: 16px 0;
}
.header-subnav-list {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.banner {
  margin-bottom: 30px;
}
.banner-container {
  border-radius: 25px;
  overflow: hidden;
}
.about {
  margin-bottom: 20px;
}
.about-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.about-title {
  font-size: 44px;
  font-weight: 700;
}
.about-item {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.about-item-detail {
  opacity: 0.8;
  position: absolute;
  bottom: -10px;
  right: -10px;
  transform: translate(-50%, -50%);
}
.about-item:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}
.about-item:hover > img {
  transform: scale(105%);
}
.about-item > img {
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-item-content {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
.about-item-title {
  text-shadow: rgba(0, 0, 0, 0.4862745098) 0 4px 14px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}
.about-item-desc {
  text-shadow: rgba(0, 0, 0, 0.4862745098) 0 4px 14px;
  display: block;
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
}

.category-container {
  padding: 20px 0;
  border-radius: 100rem;
  background-color: #fff;
  margin-bottom: 20px;
  transition: all 0.7s ease;
}
.category-container:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px;
}
.category-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.product-title {
  font-size: 52px;
  font-weight: 600;
  margin-bottom: 30px;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.product-item {
  padding: 20px;
}
.product-item-buy {
  color: #0076eb;
}
.product-item-choose {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.product-item-image {
  margin-bottom: 20px;
  width: 230px;
  height: 310px;
}
.product-item-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}
.product-item-price {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
.product-item-desc {
  margin-bottom: 10px;
}
.product-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.process {
  margin-bottom: 50px;
}
.process-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 80px;
  margin: 20px auto;
  position: relative;
}
.process-item {
  margin-top: 50px;
  display: grid;
  padding: 10px 10px;
  place-items: center;
  text-align: center;
}
.process-item::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  background-color: #000000;
}

/*# sourceMappingURL=view.css.map */
